
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  style
    include ../node_modules/bootstrap/dist/css/bootstrap.min.css
  
  style
    include ../static/style.css

  script
    include ../static/index.js
  <title>Ocean Cargo Flow</title>
</head>

<body>
    <section id="selectSec">
      <ul>
        <li><a href="/">Port Entry</a></li>
        <li><a href="/Carrier">Carrier Entry</a></li>
        <li><a href="/seaCargo">Sea Cargo</a></li>
        <li><a href="/airCargo">Air Cargo</a></li>
      </ul>
    </section>
    section
    <section class="formSection">
    form.editFormContainer(action='/editAirCArgo/'+ airCargo._id method="POST")
        input#originairPort(type="text", name="originAirPort", placeholder="Enter name of Origin port" list="airOrigins" value=airCargo.airPortOrigin)
        datalist#airOrigins 
          each airOrigin in airOrigins 
            option(value=`${airOrigin.nameOfThePort},${airOrigin.area},${airOrigin.country}`)=`${airOrigin.nameOfThePort},${airOrigin.area},${airOrigin.country}`
        input#destinationairPort(type="text", name="destinationAirPort" placeholder="Enter destination port" list="airDestinations" value=airCargo.airPortDestination)
        datalist#airDestinations 
          each airDestination in airDestinations 
            option(value=`${airDestination.nameOfThePort},${airDestination.area},${airDestination.country}`)=`${airDestination.nameOfThePort},${airDestination.area},${airDestination.country}`
        select(name="airCargoType" value=airCargo.airCargotype)
          option(value="dg") Dengerous
          option(value="nonDg") Non Dengerous
        select(name="airCarogWeight" value=airCargo.airCargoWeight)
          option(value="100Kg") 100Kg
          option(value="500Kg") 500Kg
          option(value="1000Kg") 1000Kg
          input(type="text", name="airCargoFreeTime" placeholder="Enter free time" value=airCargo.airFreeTime)
          input(type="text" name="airCargoTransitTime" placeholder="Enter transit time" value=airCargo.airTransitTime)
          input#airCargoCarrier(type="text", name="airCargoCarrier" placeholder="Enter carrier" list="airCarriers" value=airCargo.airCarrier)
          datalist#airCarriers 
            each airCarrier in airCarriers 
              option(value=airCarrier.nameOfTheCarrier)=airCarrier.nameOfTheCarrier
          input(type="text", name="airCargoTerms" placeholder="Terms And Conditions" value=airCargo.airTerms)
          input(type="text", name="airCargoPrice" placeholder="Enter Price in USD" value=airCargo.airCargoPrice)
          input(type="date" name="airCargoValidityDate")
          button.btn.btn-primary(type='submit') Update
            //- form.editFormContainer(action='/editairCArgo/'+ port._id, method='POST')
            //-     if port
            //-         input(type='text' name="portName" value = port.nameOfThePort)
            //-         input(type='text' name="area" value = port.area)
            //-         input(type='text' name="country" value = port.country)
            //-         button.btn.btn-primary Update
    <!-- Option 1: Bootstrap Bundle with Popper -->
    script
      include ../node_modules/bootstrap/dist/js/bootstrap.min.js
</body>

</html>